h4{
    display: inline-block;
}
.central{
    width: 300px;
    display: inline-block;
}
.mainContent{
    max-width: 1000px;
}
footer{
    background: black;
    color: white;
}
.asc{
    width: 300px;
}
.navbar-brand{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.jumbotron{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: red;
}