.navbar-brand{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.projectImgs{
    max-width: 500px;
    width: 200px;
}
.img3{
    width: 150px;
}
.img4{
    width: 150px;
}
p3{
    background: black;
    color: white;
}